<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @library.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @library.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @library.address %>
</p>

<p>
  <strong>Website:</strong>
  <%= @library.website %>
</p>

<%= link_to 'Edit', edit_library_path(@library),class:'btn btn-link' %> |
<%= link_to 'Back', libraries_path,class:'btn btn-link' %>
